/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
      background-color: purple;
    color: #D6B8CD; 
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
h1 {
  font-family: verdana, arial, sans-serif;
}

button {
padding: 30px;
font-size: 13px;
border-radius: 30px;
background-color:pink ;
color: #grey;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#button1 {
    background: #FA55A6;
}
#button1:active, #button1.lit {
    background: #FA06A6;
}
#button2{
    background: #F5CC64;
}
#button2:active, #button2.lit {
    background: #F5CC13;
}
#button3 {
    background: #17C9FF;
}
#button3:active, #button3.lit {
    background: #1796FF;
}
#button4 {
    background: #AD71FF;
}
#button4:active, #button4.lit {
    background:#AD15FF;
}
#button5 {
    background: #FF4339;
}
#button5:active, #button5.lit {
    background: #FF071E;
}